@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/*
=============== 
Navbar
===============
*/
.nav {
  height: 3rem;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-2);
  /* border-bottom: 2px solid; */
}

.nav-header {
  max-width: var(--max-width);
  padding-top: 1%;

  margin: 0% 5% 0% 5%;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-5);
  animation: spinner 0.6s linear infinite;
}

.login {
  margin-left: 5%;
}

/* buttons */
.btn {
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  background-color: var(--clr-primary-1);
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-white);
  color: var(--clr-primary-1);
}

.btn-edit {
  background-color: var(--clr-light-edit);
}

.btn-delete {
  background-color: var(--clr-red-dark);
}

.btn-cancel {
  background-color: var(--clr-green-dark);
}

.btn-delete:hover {
  color: var(--clr-red-dark);
  background-color: var(--clr-white);
  font-weight: bold;
}

.btn-edit:hover {
  color: var(--clr-light-edit);
  background-color: var(--clr-white);
  font-weight: bold;
}

.btn-cancel:hover {
  color: var(--clr-green-dark);
  background-color: var(--clr-white);
  font-weight: bold;
}

/* ================================== */

.btn-edit-position {
  margin-right: 5px;
}

/* ================================== */
.print-btn {
  margin-top: .5rem;
  background-color: #ffffff;
}

pre {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
  font-family: inherit;
  line-height: 1.2rem;
  font-size: .9rem;
  white-space: pre-wrap;
}

p {
  font-family: inherit;
  line-height: 1.2rem;
  font-size: .9rem;
  white-space: pre-wrap;
}

pre li {
  margin: 0;
  padding: 0;
}

pre ul {
  list-style-position: outside;
  list-style: square;
  padding-inline-start: 20px;
}

/* print section */
@media print {
  body * {
    visibility: hidden;
  }

  .non_print_area {
    display: none;
  }

  .print_area,
  .print_area * {
    visibility: visible;
  }

  .print_area {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .section__left-back {
    width: 17rem;
    min-width: 12rem;
    position: fixed;
    height: 100vh;
    z-index: -100;
  }

  .section__left-back1 {
    width: 17rem;
    min-width: 12rem;
    position: fixed;
    height: 100vh;
    z-index: -100;
  }

  .section__left-back2 {
    width: 17rem;
    min-width: 12rem;
    position: fixed;
    height: 100vh;
    z-index: -100;
  }

  .section__left-back3 {
    width: 17rem;
    min-width: 12rem;
    position: fixed;
    height: 100vh;
    z-index: -100;
  }
}